{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Shortify</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

	<div class="loginbox">

		<h1 class="login-head">Login</h1>
		
		<p class="welcome">Welcome! Login to access Shortify</p>
		
		<form action="/home/" method="POST">
			{% csrf_token %}
			<div class="textbox-email">
				<input class="inputbox" id="username" type="text" placeholder="username" name="username" required="">
			</div>
			
			<div class="textbox-pass">
				<input class="inputbox" id="pass" type="password" placeholder="Password" name="password" required="">
			</div>

			<div class="submit">
				<input class="submit-btn" type="submit" name="Continue" value="Continue">
			</div>
		</form>

		<div class="register">
			<a class="register-btn" href="/register">Don't have a account? Register </a>
		</div>

		{% for message in messages %}
        	<p>{{message}}</p>
		{% endfor %}

	</div>
</body>
</html>